@import "_colors";
@import "_mixins";

*{
    margin: 0;
  }

  h1,h2,h3,h4,p{
    color: $primaryTextColor;
  }
  body{
    background-color: $neutralBlue;
  }
  
  //Blog Statistics
  .stat{
    //margin: 20px auto;
    border-radius: 11px;
    height: 120px;
  }
  .stat-heart{
    padding: 0 -12px;
    background-color: #fef6e0;
    i{
      color: #f7c32e;
    }
  }
  .stat-coin{
    background-color: #e8ebed;
    i{
      color: #1d3b53;
    }
  }
  .stat-reviews{
    background-color: #f0ebf9;
    i{
      color: #6f42c1;
    }
    button{
      background-color:#6f42c1;
      color: #f0ebf9;
      &:hover{
        background-color: #582da6;
        color: #ede8f6;
      }
    }
  }
  .stat-members{
    background-color: #e7f6f8;
    i{
      color: #17a2b8;
    }
  }
  
  /* ----- Heading 1 - 6 & Paragraphs ----- */
  
  
  //Paragraph Normal Medium Small Caption etc.
  p{
    @include normalP();
  }
  
  /* ----- Buttons ---- */
  .n-btn{
    @include n-btn();
  }
  .lg-btn{
    @include lg-btn();
  }