@import "../../../../public/css/colors";

.activeNav{
    background-color: lightblue;
}

//Dropdown Items
.dropdown-item {
    color: $primaryTextColor;
    font-weight: 600;
    width: 94%;
    margin: 0 auto;
    &:hover{
      background-color: #e5f0fa;
      color: #086bc9;
      border-radius: 0.325rem;
      i{
        color: #086bc9;
      }
    }
  }

  //Category dropdown button
  #categories-menu{
    background-color: #e5f0fa;
  }

  //Bootstrap dropdown
  .dropdown-menu{
    font-weight: 600;
    min-width: 16rem;
  }
  //Bootstrap nav links
  .nav-link{
    color: $primaryTextColor;
    font-weight: 600;
  }
  // Avatar Dropdown Menu
  #avatar-dropdown{
    border-radius: 0.325rem;
  }
  .sign-out:hover{
    background-color: rgba(214, 41, 62, 0.1);
    color: #d6293e;
    border-radius: 0.325rem;
    i{
      color: #d6293e;
    }
  }